<section class="container md:grid md:cols-12 py-12">
  <div class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10 contact">
    <div class="markdown">
      <h2 class="text-2xl space-y-6" id="contact">Contact</h2>
      <p>
        Stichting Rust Nederland<br />
        Leeuwerikstraat 13<br />
        6542 XH Nijmegen<br />
        The Netherlands<br />
        <br />
        VAT: NL8606 29 764 B01<br />
        Company Reg. No.: 76457761 (NL)<br />
      </p>
      <p>
        Contact us? Feel free to reach out to <a href="mailto:erik@rustnl.org">Erik</a>.<br />
      </p>
    </div>
  </div>
</section>
