<section>
  <article id="join">
    <h2>Join us</h2>
    <p>
      Meetup: <a href="https://www.meetup.com/rust-nederland/">meetup.com/rust-nederland</a><br />
      GitHub: <a href="https://github.com/rustnl">github.com/rustnl</a><br />
      YouTube: <a href="https://www.youtube.com/@rustnederlandrustnl">@rustnederlandrustnl</a><br />
      Mastodon: <a href="https://fosstodon.org/@rustnl">@rustnl</a><br />
      Bluesky: <a href="https://bsky.app/profile/rustnl.bsky.social">@rustnl.bsky.social</a><br />
      LinkedIn: <a href="https://www.linkedin.com/company/rustnl/">RustNL</a><br />
    </p>
  </article>
</section>
