<section class="container md:grid md:cols-12 py-12">
  <div class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10 join">
    <div class="markdown">
      <h2 class="text-2xl space-y-6" id="join">Join us</h2>
      
      <p>
        Meetup: <a href="https://www.meetup.com/rust-nederland/">meetup.com/rust-nederland</a><br />
        GitHub: <a href="https://github.com/rustnl">github.com/rustnl</a><br />
        YouTube: <a href="https://www.youtube.com/@rustnederlandrustnl">@rustnederlandrustnl</a><br />
        Mastodon: <a href="https://fosstodon.org/@rustnl">@rustnl</a><br />
        Bluesky: <a href="https://bsky.app/profile/rustnl.bsky.social">@rustnl.bsky.social</a><br />
        LinkedIn: <a href="https://www.linkedin.com/company/rustnl/">RustNL</a><br />
      </p>
    </div>
  </div>
</section>
