<section>
  <h3 id="maintainers">Team Members</h3>
  <p>
  Each of our maintainers is a member of the <a href="https://rust-lang.org/governance/teams/">official Rust Project</a>.
  As part of our Rust Maintainers Team, they are now stably employed to continue their invaluable maintenance work
  that is crucial for Rust’s long-term sustainability.
  </p>
  <div class="people">
    <div class="person">
      <div>
        <img src="/images/oli.jpg" alt="">
        <h4>Oli Scherer</h4>
        <p class="tags">
          <span class="fulltime">Full-time Rust maintainer</span>
        </p>
        <p>
        Member of the Rust Compiler Team, Moderation team, and Types team. Lead of Miri, Constant Evaluation, and MIR optimizations.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/waffle.jpg" alt="">
        <h4>Waffle</h4>
        <p class="tags">
          <span class="fulltime">Full-time Rust maintainer</span>
        </p>
        <p>
        Member of the Rust Compiler Team. Lead of the never type and explicit tail calls efforts.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/tiif.jpg" alt="">
        <h4>Tiffany "tiif" Pek</h4>
        <p class="tags">
          <span class="intern">Rust maintainer Intern</span>
        </p>
        <p>
        Member of the Rust Compiler Team and Formality Team. Helping out with borrow check formalization and fixes.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/mara.jpg" alt="">
        <h4>Mara Bos</h4>
        <p class="tags">
          <span class="parttime">Part-time Rust maintainer</span>
          <span class="sponsored">Sponsored by <a href="https://hexcat.nl/">Hexcat</a></span>
        </p>
        <p>
        Member of the Rust Leadership Council, Compiler Team, Library Contributors Team, and organizer of the Rust All Hands.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/jana.jpg" alt="">
        <h4>Jana Dönszelmann</h4>
        <p class="tags">
          <span class="parttime">Part-time Rust maintainer</span>
          <span class="sponsored">Sponsored by <a href="https://hexcat.nl/">Hexcat</a></span>
        </p>
        <p>
        Member of the Rust Compiler Team and host of the weekly Compiler Team office hours.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/nia.jpg" alt="">
        <h4>Nia Espera</h4>
        <p class="tags">
          <span class="parttime">Part-time Rust maintainer</span>
          <span class="sponsored">Sponsored by <a href="https://hexcat.nl/">Hexcat</a></span>
        </p>
        <p>
        Member of the Rust Library Contributors Team and host of the weekly Rust Library Team meetings.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/bjorn.png" alt="">
        <h4>Björn 3</h4>
        <p class="tags">
          <span class="parttime">Part-time Rust maintainer</span>
          <span class="sponsored">Sponsored by <a href="https://tweedegolf.nl/">Tweede Golf</a></span>
        </p>
        <p>
        Member of the Rust Compiler Team, Parallel rustc working area, and ffi-unwind project group and author of the Cranelift based backend of rustc.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/folkert.jpg" alt="">
        <h4>Folkert de Vries</h4>
        <p class="tags">
          <span class="parttime">Part-time Rust maintainer</span>
          <span class="sponsored">Sponsored by <a href="https://trifectatech.org/">Trifecta Tech Foundation</a></span>
        </p>
        <p>
        Member of the Rust Compiler Team and Library Contributors Team. Co-maintainer of <code>rust-lang/stdarch</code>.
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/nobody.jpg" alt="">
        <h4>You?</h4>
        <p>
        Contact Mara or Erik if you are interested!
        </p>
      </div>
    </div>
  </div>
  </div>
</section>
