<section class="container py-12 space-y-6">
  <div class="space-y-12 md:grid md:cols-2 md:space-y-0" style="justify-content: center;"></div>
  <h3 class="text-2xl text-center" id="board">Board members</h3>
  <div class="grid md:cols-3 xl:cols-3">
    <div class="speaker organizer">
      <div class="space-y-6"> <img src="images/mara.jpg" alt="Mara Bos">
        <div>
          <h4 class="font-light text-lg leading-tight py-2">Mara Bos</h4>
          <p style="text-align: center;">Treasurer</p>
        </div>
      </div>
    </div>
    <div class="speaker organizer">
      <div class="space-y-6"> <img src="images/erik.jpeg" alt="Erik Jonkers">
        <div>
          <h4 class="font-light text-lg leading-tight py-2">Erik Jonkers</h4>
          <p style="text-align: center;">Chair</p>
        </div>
      </div>
    </div>
    <div class="speaker organizer">
      <div class="space-y-6"> <img src="images/wouter.jpeg" alt="Wouter Geraedts">
        <div>
          <h4 class="font-light text-lg leading-tight py-2">Wouter Geraedts</h4>
          <p style="text-align: center;">Secretary</p>
        </div>
      </div>
    </div>
  </div>
</section>
