<section>
<h3 id="organizers">Volunteer event organizers</h3>
<div class="people">
  <div class="person">
    <div>
      <img src="/images/laura.jpg" alt="">
      <div>
        <h4>Laura Pircalaboiu</h4>
        <p>RustWeek organizer</p>
      </div>
    </div>
  </div>
  <div class="person">
    <div>
      <img src="/images/jana.jpg" alt="">
      <div>
        <h4>Jana Dönszelmann</h4>
        <p>RustWeek organizer</p>
      </div>
    </div>
  </div>
  <div class="person">
    <div>
      <img src="/images/terts.jpg" alt="">
      <div>
        <h4>Terts Diepraam</h4>
        <p>RustWeek organizer</p>
      </div>
    </div>
  </div>
</div>
</section>
