<section>
  <h3 id="maintainers">Employees</h3>
  <div class="people">
    <div class="person">
      <div>
        <img src="/images/oli.jpg" alt="">
        <h4>Oli Scherer</h4>
        <p>
        Full-time Rust maintainer
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/waffle.jpg" alt="">
        <h4>Waffle</h4>
        <p>
        Full-time Rust maintainer
        </p>
      </div>
    </div>
    <div class="person">
      <div>
        <img src="/images/tiif.jpg" alt="">
        <h4>Tiffany "tiif" Pek</h4>
        <p>
        Rust maintainer intern
        </p>
      </div>
    </div>
  </div>
</section>
