.organizer p {
  text-align: left;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  justify-content: center;
}

.button-group-center {
  justify-content: center;
}

.button {
  align-items: center;
  border-radius: var(--space-1);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-md);
  font-weight: 700;
  min-height: var(--space-12);
  padding-inline: var(--space-6);
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button-primary {
  background-color: var(--color-red-400);
}

.button-secondary {
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
}

.down-arrow {
  aspect-ratio: 1;
  border: solid var(--color-red-400);
  border-width: 0 1.5rem 1.5rem 0;
  display: inline-block;
  rotate: 0deg;
  animation: MoveUpDown 2s ease-in-out infinite;
  rotate: 45deg;
  width: 72px;
}

@keyframes MoveUpDown {
  0%,
  to {
    translate: 0 0;
  }

  50% {
    translate: 0 0.4em;
  }
}

.header {
  align-items: center;
  display: flex;
  height: var(--space-24);
  position: absolute;
  z-index: 1;
  left: 50%;
  translate: -50%;
}

.header .logo img {
  height: var(--space-12);
}

.header .hamburger {
  margin-inline-start: auto;
}

@media (min-width: 64rem) {
  .header .hamburger {
    display: none;
  }
}

.header .hamburger:before {
  content: "Menu";
}

.header .hamburger.open:before {
  content: "Close";
}

.header .menu {
  align-items: flex-start;
  background-color: var(--color-neutral-400);
  border: 1px solid var(--color-red-500);
  bottom: var(--space-3);
  display: flex;
  flex-direction: column;
  left: var(--space-4);
  opacity: 0;
  padding: var(--space-4);
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  transition-duration: 0.25s;
  transition-property: opacity, visibility, transform;
  translate: 0 100%;
  visibility: hidden;
  width: calc(100% - var(--space-8));
}

@media (min-width: 64rem) {
  .header .menu {
    align-items: center;
    background-color: transparent;
    border: none;
    bottom: auto;
    flex-direction: row;
    gap: var(--space-6);
    left: auto;
    margin-inline-start: auto;
    opacity: 1;
    padding: 0;
    position: static;
    transform: scaleY(1);
    translate: none;
    visibility: visible;
    width: auto;
  }
}

.header .menu.open {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.header .menu a:not(.button) {
  align-items: center;
  color: inherit;
  display: flex;
  font-weight: 700;
  min-height: var(--space-12);
  text-decoration: none;
  width: 100%;
}

@media (min-width: 64rem) {
  .header .menu a:not(.button) {
    width: auto;
  }
}

.header .menu a:last-child {
  margin-block-start: var(--space-3);
}

@media (min-width: 64rem) {
  .header .menu a:last-child {
    margin-block-start: 0;
  }
}

.header .overlay {
  background-color: var(--color-yellow-500);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 0.25s;
  transition-property: opacity, visibility;
  visibility: hidden;
  z-index: -1;
}

@media (min-width: 64rem) {
  .header .overlay {
    visibility: hidden;
    display: none;
  }
}

.header .overlay.open {
  visibility: visible;
  opacity: 0.75;
  pointer-events: all;
}

.hero {
  align-items: center;
  background-color: var(--color-blue-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-2xl);
  gap: var(--space-9);
  justify-content: center;
  line-height: var(--line-height-tight);
  min-height: 100svh;
  padding-block: var(--space-12);
  padding-inline: var(--space-6);
  position: relative;
  text-align: center;
  z-index: 0;
  z-index: 0;
}

@media (min-width: 48rem) {
  .hero {
    border-width: var(--space-6) var(--space-6) 0 var(--space-6);
    padding-block: var(--space-12);
    padding-inline: var(--space-6);
  }
}

@media (min-width: 75rem) {
  .hero {
    border-width: var(--space-12) var(--space-12) 0 var(--space-12);
    padding-block: var(--space-24);
    padding-inline: var(--space-12);
  }
}

.hero::after {
  position: absolute;
  inset: 0;
  background-color: var(--color-yellow-400);
  z-index: -1;
  content: "";
  border-top-left-radius: 4.5rem;
  border-bottom-right-radius: 4.5rem;
}

.hero img {
  height: auto;
  max-width: 100%;
}

.hero .nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  align-items: center;
}

.hero.page {
  min-height: 384px;
}

.hero.page img {
  max-height: 3rem;
}

.last-year {
  background-color: var(--color-yellow-400);
  padding-block: var(--space-24);
  position: relative;
  z-index: 0;
}

.last-year:after {
  background-color: var(--color-yellow-500);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.speaker {
  border: 1px solid var(--color-neutral-500);
  padding: var(--space-4);
}

.speaker h4 {
  font-weight: 700;
}

.speaker img {
  aspect-ratio: 8 / 7;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.sponsors.unconf-sponsors {
  text-align: center;
}

.article-container ~ .article-container .article:before,
.join:before,
.contact:before {
  background-image: url(/images/stripes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: var(--space-3);
  position: relative;
  margin: 0 0 var(--space-12) 0;
}

.article-container img {
  width: 100%;
}

#contact {
  margin-bottom: var(--space-12);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-red-400);
  margin-block-start: var(--space-24);
  padding: var(--space-8) var(--space-4);
}

.footer .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.footer .menu:first-of-type,
.footer .menu:nth-of-type(2) {
  border-block-end: 1px solid var(--color-red-500);
  margin-block-end: var(--space-3);
  padding-block-end: var(--space-3);
}

.footer .menu .button.button-secondary {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.footer .menu a,
.footer .menu a.button.button-secondary {
  color: var(--color-neutral-400);
}

a.button {
  background-color: #e74310;
  color: var(--color-black-500);
  vertical-align: middle;
}
