.space-y-1>*+* {
    margin-block-start: var(--space-1)
}

.space-y-2>*+* {
    margin-block-start: var(--space-2)
}

.space-y-3>*+* {
    margin-block-start: var(--space-3)
}

.space-y-4>*+* {
    margin-block-start: var(--space-4)
}

.space-y-5>*+* {
    margin-block-start: var(--space-5)
}

.space-y-6>*+* {
    margin-block-start: var(--space-6)
}

.space-y-7>*+* {
    margin-block-start: var(--space-7)
}

.space-y-8>*+* {
    margin-block-start: var(--space-8)
}

.space-y-9>*+* {
    margin-block-start: var(--space-9)
}

.space-y-10>*+* {
    margin-block-start: var(--space-10)
}

.space-y-11>*+* {
    margin-block-start: var(--space-11)
}

.space-y-12>*+* {
    margin-block-start: var(--space-12)
}

.space-y-13>*+* {
    margin-block-start: var(--space-13)
}

.space-y-14>*+* {
    margin-block-start: var(--space-14)
}

.space-y-15>*+* {
    margin-block-start: var(--space-15)
}

.space-y-16>*+* {
    margin-block-start: var(--space-16)
}

.space-y-17>*+* {
    margin-block-start: var(--space-17)
}

.space-y-18>*+* {
    margin-block-start: var(--space-18)
}

.space-y-19>*+* {
    margin-block-start: var(--space-19)
}

.space-y-20>*+* {
    margin-block-start: var(--space-20)
}

.space-y-21>*+* {
    margin-block-start: var(--space-21)
}

.space-y-22>*+* {
    margin-block-start: var(--space-22)
}

.space-y-23>*+* {
    margin-block-start: var(--space-23)
}

.space-y-24>*+* {
    margin-block-start: var(--space-24)
}

.p-1 {
    padding: var(--space-1)
}

.px-1 {
    padding-inline: var(--space-1)
}

.py-1 {
    padding-block: var(--space-1)
}

.p-2 {
    padding: var(--space-2)
}

.px-2 {
    padding-inline: var(--space-2)
}

.py-2 {
    padding-block: var(--space-2)
}

.p-3 {
    padding: var(--space-3)
}

.px-3 {
    padding-inline: var(--space-3)
}

.py-3 {
    padding-block: var(--space-3)
}

.p-4 {
    padding: var(--space-4)
}

.px-4 {
    padding-inline: var(--space-4)
}

.py-4 {
    padding-block: var(--space-4)
}

.p-5 {
    padding: var(--space-5)
}

.px-5 {
    padding-inline: var(--space-5)
}

.py-5 {
    padding-block: var(--space-5)
}

.p-6 {
    padding: var(--space-6)
}

.px-6 {
    padding-inline: var(--space-6)
}

.py-6 {
    padding-block: var(--space-6)
}

.p-7 {
    padding: var(--space-7)
}

.px-7 {
    padding-inline: var(--space-7)
}

.py-7 {
    padding-block: var(--space-7)
}

.p-8 {
    padding: var(--space-8)
}

.px-8 {
    padding-inline: var(--space-8)
}

.py-8 {
    padding-block: var(--space-8)
}

.p-9 {
    padding: var(--space-9)
}

.px-9 {
    padding-inline: var(--space-9)
}

.py-9 {
    padding-block: var(--space-9)
}

.p-10 {
    padding: var(--space-10)
}

.px-10 {
    padding-inline: var(--space-10)
}

.py-10 {
    padding-block: var(--space-10)
}

.p-11 {
    padding: var(--space-11)
}

.px-11 {
    padding-inline: var(--space-11)
}

.py-11 {
    padding-block: var(--space-11)
}

.p-12 {
    padding: var(--space-12)
}

.px-12 {
    padding-inline: var(--space-12)
}

.py-12 {
    padding-block: var(--space-12)
}

.p-13 {
    padding: var(--space-13)
}

.px-13 {
    padding-inline: var(--space-13)
}

.py-13 {
    padding-block: var(--space-13)
}

.p-14 {
    padding: var(--space-14)
}

.px-14 {
    padding-inline: var(--space-14)
}

.py-14 {
    padding-block: var(--space-14)
}

.p-15 {
    padding: var(--space-15)
}

.px-15 {
    padding-inline: var(--space-15)
}

.py-15 {
    padding-block: var(--space-15)
}

.p-16 {
    padding: var(--space-16)
}

.px-16 {
    padding-inline: var(--space-16)
}

.py-16 {
    padding-block: var(--space-16)
}

.p-17 {
    padding: var(--space-17)
}

.px-17 {
    padding-inline: var(--space-17)
}

.py-17 {
    padding-block: var(--space-17)
}

.p-18 {
    padding: var(--space-18)
}

.px-18 {
    padding-inline: var(--space-18)
}

.py-18 {
    padding-block: var(--space-18)
}

.p-19 {
    padding: var(--space-19)
}

.px-19 {
    padding-inline: var(--space-19)
}

.py-19 {
    padding-block: var(--space-19)
}

.p-20 {
    padding: var(--space-20)
}

.px-20 {
    padding-inline: var(--space-20)
}

.py-20 {
    padding-block: var(--space-20)
}

.p-21 {
    padding: var(--space-21)
}

.px-21 {
    padding-inline: var(--space-21)
}

.py-21 {
    padding-block: var(--space-21)
}

.p-22 {
    padding: var(--space-22)
}

.px-22 {
    padding-inline: var(--space-22)
}

.py-22 {
    padding-block: var(--space-22)
}

.p-23 {
    padding: var(--space-23)
}

.px-23 {
    padding-inline: var(--space-23)
}

.py-23 {
    padding-block: var(--space-23)
}

.p-24 {
    padding: var(--space-24)
}

.px-24 {
    padding-inline: var(--space-24)
}

.py-24 {
    padding-block: var(--space-24)
}

@media (min-width: 40rem) {
    .sm\:space-y-0>*+* {
        margin-block-start: 0
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-1>*+* {
        margin-block-start: var(--space-1)
    }
}

@media (min-width: 40rem) {
    .sm\:p-1 {
        padding: var(--space-1)
    }
}

@media (min-width: 40rem) {
    .sm\:px-1 {
        padding-inline: var(--space-1)
    }
}

@media (min-width: 40rem) {
    .sm\:py-1 {
        padding-block: var(--space-1)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-2>*+* {
        margin-block-start: var(--space-2)
    }
}

@media (min-width: 40rem) {
    .sm\:p-2 {
        padding: var(--space-2)
    }
}

@media (min-width: 40rem) {
    .sm\:px-2 {
        padding-inline: var(--space-2)
    }
}

@media (min-width: 40rem) {
    .sm\:py-2 {
        padding-block: var(--space-2)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-3>*+* {
        margin-block-start: var(--space-3)
    }
}

@media (min-width: 40rem) {
    .sm\:p-3 {
        padding: var(--space-3)
    }
}

@media (min-width: 40rem) {
    .sm\:px-3 {
        padding-inline: var(--space-3)
    }
}

@media (min-width: 40rem) {
    .sm\:py-3 {
        padding-block: var(--space-3)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-4>*+* {
        margin-block-start: var(--space-4)
    }
}

@media (min-width: 40rem) {
    .sm\:p-4 {
        padding: var(--space-4)
    }
}

@media (min-width: 40rem) {
    .sm\:px-4 {
        padding-inline: var(--space-4)
    }
}

@media (min-width: 40rem) {
    .sm\:py-4 {
        padding-block: var(--space-4)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-5>*+* {
        margin-block-start: var(--space-5)
    }
}

@media (min-width: 40rem) {
    .sm\:p-5 {
        padding: var(--space-5)
    }
}

@media (min-width: 40rem) {
    .sm\:px-5 {
        padding-inline: var(--space-5)
    }
}

@media (min-width: 40rem) {
    .sm\:py-5 {
        padding-block: var(--space-5)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-6>*+* {
        margin-block-start: var(--space-6)
    }
}

@media (min-width: 40rem) {
    .sm\:p-6 {
        padding: var(--space-6)
    }
}

@media (min-width: 40rem) {
    .sm\:px-6 {
        padding-inline: var(--space-6)
    }
}

@media (min-width: 40rem) {
    .sm\:py-6 {
        padding-block: var(--space-6)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-7>*+* {
        margin-block-start: var(--space-7)
    }
}

@media (min-width: 40rem) {
    .sm\:p-7 {
        padding: var(--space-7)
    }
}

@media (min-width: 40rem) {
    .sm\:px-7 {
        padding-inline: var(--space-7)
    }
}

@media (min-width: 40rem) {
    .sm\:py-7 {
        padding-block: var(--space-7)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-8>*+* {
        margin-block-start: var(--space-8)
    }
}

@media (min-width: 40rem) {
    .sm\:p-8 {
        padding: var(--space-8)
    }
}

@media (min-width: 40rem) {
    .sm\:px-8 {
        padding-inline: var(--space-8)
    }
}

@media (min-width: 40rem) {
    .sm\:py-8 {
        padding-block: var(--space-8)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-9>*+* {
        margin-block-start: var(--space-9)
    }
}

@media (min-width: 40rem) {
    .sm\:p-9 {
        padding: var(--space-9)
    }
}

@media (min-width: 40rem) {
    .sm\:px-9 {
        padding-inline: var(--space-9)
    }
}

@media (min-width: 40rem) {
    .sm\:py-9 {
        padding-block: var(--space-9)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-10>*+* {
        margin-block-start: var(--space-10)
    }
}

@media (min-width: 40rem) {
    .sm\:p-10 {
        padding: var(--space-10)
    }
}

@media (min-width: 40rem) {
    .sm\:px-10 {
        padding-inline: var(--space-10)
    }
}

@media (min-width: 40rem) {
    .sm\:py-10 {
        padding-block: var(--space-10)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-11>*+* {
        margin-block-start: var(--space-11)
    }
}

@media (min-width: 40rem) {
    .sm\:p-11 {
        padding: var(--space-11)
    }
}

@media (min-width: 40rem) {
    .sm\:px-11 {
        padding-inline: var(--space-11)
    }
}

@media (min-width: 40rem) {
    .sm\:py-11 {
        padding-block: var(--space-11)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-12>*+* {
        margin-block-start: var(--space-12)
    }
}

@media (min-width: 40rem) {
    .sm\:p-12 {
        padding: var(--space-12)
    }
}

@media (min-width: 40rem) {
    .sm\:px-12 {
        padding-inline: var(--space-12)
    }
}

@media (min-width: 40rem) {
    .sm\:py-12 {
        padding-block: var(--space-12)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-13>*+* {
        margin-block-start: var(--space-13)
    }
}

@media (min-width: 40rem) {
    .sm\:p-13 {
        padding: var(--space-13)
    }
}

@media (min-width: 40rem) {
    .sm\:px-13 {
        padding-inline: var(--space-13)
    }
}

@media (min-width: 40rem) {
    .sm\:py-13 {
        padding-block: var(--space-13)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-14>*+* {
        margin-block-start: var(--space-14)
    }
}

@media (min-width: 40rem) {
    .sm\:p-14 {
        padding: var(--space-14)
    }
}

@media (min-width: 40rem) {
    .sm\:px-14 {
        padding-inline: var(--space-14)
    }
}

@media (min-width: 40rem) {
    .sm\:py-14 {
        padding-block: var(--space-14)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-15>*+* {
        margin-block-start: var(--space-15)
    }
}

@media (min-width: 40rem) {
    .sm\:p-15 {
        padding: var(--space-15)
    }
}

@media (min-width: 40rem) {
    .sm\:px-15 {
        padding-inline: var(--space-15)
    }
}

@media (min-width: 40rem) {
    .sm\:py-15 {
        padding-block: var(--space-15)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-16>*+* {
        margin-block-start: var(--space-16)
    }
}

@media (min-width: 40rem) {
    .sm\:p-16 {
        padding: var(--space-16)
    }
}

@media (min-width: 40rem) {
    .sm\:px-16 {
        padding-inline: var(--space-16)
    }
}

@media (min-width: 40rem) {
    .sm\:py-16 {
        padding-block: var(--space-16)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-17>*+* {
        margin-block-start: var(--space-17)
    }
}

@media (min-width: 40rem) {
    .sm\:p-17 {
        padding: var(--space-17)
    }
}

@media (min-width: 40rem) {
    .sm\:px-17 {
        padding-inline: var(--space-17)
    }
}

@media (min-width: 40rem) {
    .sm\:py-17 {
        padding-block: var(--space-17)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-18>*+* {
        margin-block-start: var(--space-18)
    }
}

@media (min-width: 40rem) {
    .sm\:p-18 {
        padding: var(--space-18)
    }
}

@media (min-width: 40rem) {
    .sm\:px-18 {
        padding-inline: var(--space-18)
    }
}

@media (min-width: 40rem) {
    .sm\:py-18 {
        padding-block: var(--space-18)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-19>*+* {
        margin-block-start: var(--space-19)
    }
}

@media (min-width: 40rem) {
    .sm\:p-19 {
        padding: var(--space-19)
    }
}

@media (min-width: 40rem) {
    .sm\:px-19 {
        padding-inline: var(--space-19)
    }
}

@media (min-width: 40rem) {
    .sm\:py-19 {
        padding-block: var(--space-19)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-20>*+* {
        margin-block-start: var(--space-20)
    }
}

@media (min-width: 40rem) {
    .sm\:p-20 {
        padding: var(--space-20)
    }
}

@media (min-width: 40rem) {
    .sm\:px-20 {
        padding-inline: var(--space-20)
    }
}

@media (min-width: 40rem) {
    .sm\:py-20 {
        padding-block: var(--space-20)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-21>*+* {
        margin-block-start: var(--space-21)
    }
}

@media (min-width: 40rem) {
    .sm\:p-21 {
        padding: var(--space-21)
    }
}

@media (min-width: 40rem) {
    .sm\:px-21 {
        padding-inline: var(--space-21)
    }
}

@media (min-width: 40rem) {
    .sm\:py-21 {
        padding-block: var(--space-21)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-22>*+* {
        margin-block-start: var(--space-22)
    }
}

@media (min-width: 40rem) {
    .sm\:p-22 {
        padding: var(--space-22)
    }
}

@media (min-width: 40rem) {
    .sm\:px-22 {
        padding-inline: var(--space-22)
    }
}

@media (min-width: 40rem) {
    .sm\:py-22 {
        padding-block: var(--space-22)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-23>*+* {
        margin-block-start: var(--space-23)
    }
}

@media (min-width: 40rem) {
    .sm\:p-23 {
        padding: var(--space-23)
    }
}

@media (min-width: 40rem) {
    .sm\:px-23 {
        padding-inline: var(--space-23)
    }
}

@media (min-width: 40rem) {
    .sm\:py-23 {
        padding-block: var(--space-23)
    }
}

@media (min-width: 40rem) {
    .sm\:space-y-24>*+* {
        margin-block-start: var(--space-24)
    }
}

@media (min-width: 40rem) {
    .sm\:p-24 {
        padding: var(--space-24)
    }
}

@media (min-width: 40rem) {
    .sm\:px-24 {
        padding-inline: var(--space-24)
    }
}

@media (min-width: 40rem) {
    .sm\:py-24 {
        padding-block: var(--space-24)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-0>*+* {
        margin-block-start: 0
    }
}

@media (min-width: 48rem) {
    .md\:space-y-1>*+* {
        margin-block-start: var(--space-1)
    }
}

@media (min-width: 48rem) {
    .md\:p-1 {
        padding: var(--space-1)
    }
}

@media (min-width: 48rem) {
    .md\:px-1 {
        padding-inline: var(--space-1)
    }
}

@media (min-width: 48rem) {
    .md\:py-1 {
        padding-block: var(--space-1)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-2>*+* {
        margin-block-start: var(--space-2)
    }
}

@media (min-width: 48rem) {
    .md\:p-2 {
        padding: var(--space-2)
    }
}

@media (min-width: 48rem) {
    .md\:px-2 {
        padding-inline: var(--space-2)
    }
}

@media (min-width: 48rem) {
    .md\:py-2 {
        padding-block: var(--space-2)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-3>*+* {
        margin-block-start: var(--space-3)
    }
}

@media (min-width: 48rem) {
    .md\:p-3 {
        padding: var(--space-3)
    }
}

@media (min-width: 48rem) {
    .md\:px-3 {
        padding-inline: var(--space-3)
    }
}

@media (min-width: 48rem) {
    .md\:py-3 {
        padding-block: var(--space-3)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-4>*+* {
        margin-block-start: var(--space-4)
    }
}

@media (min-width: 48rem) {
    .md\:p-4 {
        padding: var(--space-4)
    }
}

@media (min-width: 48rem) {
    .md\:px-4 {
        padding-inline: var(--space-4)
    }
}

@media (min-width: 48rem) {
    .md\:py-4 {
        padding-block: var(--space-4)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-5>*+* {
        margin-block-start: var(--space-5)
    }
}

@media (min-width: 48rem) {
    .md\:p-5 {
        padding: var(--space-5)
    }
}

@media (min-width: 48rem) {
    .md\:px-5 {
        padding-inline: var(--space-5)
    }
}

@media (min-width: 48rem) {
    .md\:py-5 {
        padding-block: var(--space-5)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-6>*+* {
        margin-block-start: var(--space-6)
    }
}

@media (min-width: 48rem) {
    .md\:p-6 {
        padding: var(--space-6)
    }
}

@media (min-width: 48rem) {
    .md\:px-6 {
        padding-inline: var(--space-6)
    }
}

@media (min-width: 48rem) {
    .md\:py-6 {
        padding-block: var(--space-6)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-7>*+* {
        margin-block-start: var(--space-7)
    }
}

@media (min-width: 48rem) {
    .md\:p-7 {
        padding: var(--space-7)
    }
}

@media (min-width: 48rem) {
    .md\:px-7 {
        padding-inline: var(--space-7)
    }
}

@media (min-width: 48rem) {
    .md\:py-7 {
        padding-block: var(--space-7)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-8>*+* {
        margin-block-start: var(--space-8)
    }
}

@media (min-width: 48rem) {
    .md\:p-8 {
        padding: var(--space-8)
    }
}

@media (min-width: 48rem) {
    .md\:px-8 {
        padding-inline: var(--space-8)
    }
}

@media (min-width: 48rem) {
    .md\:py-8 {
        padding-block: var(--space-8)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-9>*+* {
        margin-block-start: var(--space-9)
    }
}

@media (min-width: 48rem) {
    .md\:p-9 {
        padding: var(--space-9)
    }
}

@media (min-width: 48rem) {
    .md\:px-9 {
        padding-inline: var(--space-9)
    }
}

@media (min-width: 48rem) {
    .md\:py-9 {
        padding-block: var(--space-9)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-10>*+* {
        margin-block-start: var(--space-10)
    }
}

@media (min-width: 48rem) {
    .md\:p-10 {
        padding: var(--space-10)
    }
}

@media (min-width: 48rem) {
    .md\:px-10 {
        padding-inline: var(--space-10)
    }
}

@media (min-width: 48rem) {
    .md\:py-10 {
        padding-block: var(--space-10)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-11>*+* {
        margin-block-start: var(--space-11)
    }
}

@media (min-width: 48rem) {
    .md\:p-11 {
        padding: var(--space-11)
    }
}

@media (min-width: 48rem) {
    .md\:px-11 {
        padding-inline: var(--space-11)
    }
}

@media (min-width: 48rem) {
    .md\:py-11 {
        padding-block: var(--space-11)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-12>*+* {
        margin-block-start: var(--space-12)
    }
}

@media (min-width: 48rem) {
    .md\:p-12 {
        padding: var(--space-12)
    }
}

@media (min-width: 48rem) {
    .md\:px-12 {
        padding-inline: var(--space-12)
    }
}

@media (min-width: 48rem) {
    .md\:py-12 {
        padding-block: var(--space-12)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-13>*+* {
        margin-block-start: var(--space-13)
    }
}

@media (min-width: 48rem) {
    .md\:p-13 {
        padding: var(--space-13)
    }
}

@media (min-width: 48rem) {
    .md\:px-13 {
        padding-inline: var(--space-13)
    }
}

@media (min-width: 48rem) {
    .md\:py-13 {
        padding-block: var(--space-13)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-14>*+* {
        margin-block-start: var(--space-14)
    }
}

@media (min-width: 48rem) {
    .md\:p-14 {
        padding: var(--space-14)
    }
}

@media (min-width: 48rem) {
    .md\:px-14 {
        padding-inline: var(--space-14)
    }
}

@media (min-width: 48rem) {
    .md\:py-14 {
        padding-block: var(--space-14)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-15>*+* {
        margin-block-start: var(--space-15)
    }
}

@media (min-width: 48rem) {
    .md\:p-15 {
        padding: var(--space-15)
    }
}

@media (min-width: 48rem) {
    .md\:px-15 {
        padding-inline: var(--space-15)
    }
}

@media (min-width: 48rem) {
    .md\:py-15 {
        padding-block: var(--space-15)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-16>*+* {
        margin-block-start: var(--space-16)
    }
}

@media (min-width: 48rem) {
    .md\:p-16 {
        padding: var(--space-16)
    }
}

@media (min-width: 48rem) {
    .md\:px-16 {
        padding-inline: var(--space-16)
    }
}

@media (min-width: 48rem) {
    .md\:py-16 {
        padding-block: var(--space-16)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-17>*+* {
        margin-block-start: var(--space-17)
    }
}

@media (min-width: 48rem) {
    .md\:p-17 {
        padding: var(--space-17)
    }
}

@media (min-width: 48rem) {
    .md\:px-17 {
        padding-inline: var(--space-17)
    }
}

@media (min-width: 48rem) {
    .md\:py-17 {
        padding-block: var(--space-17)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-18>*+* {
        margin-block-start: var(--space-18)
    }
}

@media (min-width: 48rem) {
    .md\:p-18 {
        padding: var(--space-18)
    }
}

@media (min-width: 48rem) {
    .md\:px-18 {
        padding-inline: var(--space-18)
    }
}

@media (min-width: 48rem) {
    .md\:py-18 {
        padding-block: var(--space-18)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-19>*+* {
        margin-block-start: var(--space-19)
    }
}

@media (min-width: 48rem) {
    .md\:p-19 {
        padding: var(--space-19)
    }
}

@media (min-width: 48rem) {
    .md\:px-19 {
        padding-inline: var(--space-19)
    }
}

@media (min-width: 48rem) {
    .md\:py-19 {
        padding-block: var(--space-19)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-20>*+* {
        margin-block-start: var(--space-20)
    }
}

@media (min-width: 48rem) {
    .md\:p-20 {
        padding: var(--space-20)
    }
}

@media (min-width: 48rem) {
    .md\:px-20 {
        padding-inline: var(--space-20)
    }
}

@media (min-width: 48rem) {
    .md\:py-20 {
        padding-block: var(--space-20)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-21>*+* {
        margin-block-start: var(--space-21)
    }
}

@media (min-width: 48rem) {
    .md\:p-21 {
        padding: var(--space-21)
    }
}

@media (min-width: 48rem) {
    .md\:px-21 {
        padding-inline: var(--space-21)
    }
}

@media (min-width: 48rem) {
    .md\:py-21 {
        padding-block: var(--space-21)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-22>*+* {
        margin-block-start: var(--space-22)
    }
}

@media (min-width: 48rem) {
    .md\:p-22 {
        padding: var(--space-22)
    }
}

@media (min-width: 48rem) {
    .md\:px-22 {
        padding-inline: var(--space-22)
    }
}

@media (min-width: 48rem) {
    .md\:py-22 {
        padding-block: var(--space-22)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-23>*+* {
        margin-block-start: var(--space-23)
    }
}

@media (min-width: 48rem) {
    .md\:p-23 {
        padding: var(--space-23)
    }
}

@media (min-width: 48rem) {
    .md\:px-23 {
        padding-inline: var(--space-23)
    }
}

@media (min-width: 48rem) {
    .md\:py-23 {
        padding-block: var(--space-23)
    }
}

@media (min-width: 48rem) {
    .md\:space-y-24>*+* {
        margin-block-start: var(--space-24)
    }
}

@media (min-width: 48rem) {
    .md\:p-24 {
        padding: var(--space-24)
    }
}

@media (min-width: 48rem) {
    .md\:px-24 {
        padding-inline: var(--space-24)
    }
}

@media (min-width: 48rem) {
    .md\:py-24 {
        padding-block: var(--space-24)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-0>*+* {
        margin-block-start: 0
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-1>*+* {
        margin-block-start: var(--space-1)
    }
}

@media (min-width: 64rem) {
    .lg\:p-1 {
        padding: var(--space-1)
    }
}

@media (min-width: 64rem) {
    .lg\:px-1 {
        padding-inline: var(--space-1)
    }
}

@media (min-width: 64rem) {
    .lg\:py-1 {
        padding-block: var(--space-1)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-2>*+* {
        margin-block-start: var(--space-2)
    }
}

@media (min-width: 64rem) {
    .lg\:p-2 {
        padding: var(--space-2)
    }
}

@media (min-width: 64rem) {
    .lg\:px-2 {
        padding-inline: var(--space-2)
    }
}

@media (min-width: 64rem) {
    .lg\:py-2 {
        padding-block: var(--space-2)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-3>*+* {
        margin-block-start: var(--space-3)
    }
}

@media (min-width: 64rem) {
    .lg\:p-3 {
        padding: var(--space-3)
    }
}

@media (min-width: 64rem) {
    .lg\:px-3 {
        padding-inline: var(--space-3)
    }
}

@media (min-width: 64rem) {
    .lg\:py-3 {
        padding-block: var(--space-3)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-4>*+* {
        margin-block-start: var(--space-4)
    }
}

@media (min-width: 64rem) {
    .lg\:p-4 {
        padding: var(--space-4)
    }
}

@media (min-width: 64rem) {
    .lg\:px-4 {
        padding-inline: var(--space-4)
    }
}

@media (min-width: 64rem) {
    .lg\:py-4 {
        padding-block: var(--space-4)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-5>*+* {
        margin-block-start: var(--space-5)
    }
}

@media (min-width: 64rem) {
    .lg\:p-5 {
        padding: var(--space-5)
    }
}

@media (min-width: 64rem) {
    .lg\:px-5 {
        padding-inline: var(--space-5)
    }
}

@media (min-width: 64rem) {
    .lg\:py-5 {
        padding-block: var(--space-5)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-6>*+* {
        margin-block-start: var(--space-6)
    }
}

@media (min-width: 64rem) {
    .lg\:p-6 {
        padding: var(--space-6)
    }
}

@media (min-width: 64rem) {
    .lg\:px-6 {
        padding-inline: var(--space-6)
    }
}

@media (min-width: 64rem) {
    .lg\:py-6 {
        padding-block: var(--space-6)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-7>*+* {
        margin-block-start: var(--space-7)
    }
}

@media (min-width: 64rem) {
    .lg\:p-7 {
        padding: var(--space-7)
    }
}

@media (min-width: 64rem) {
    .lg\:px-7 {
        padding-inline: var(--space-7)
    }
}

@media (min-width: 64rem) {
    .lg\:py-7 {
        padding-block: var(--space-7)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-8>*+* {
        margin-block-start: var(--space-8)
    }
}

@media (min-width: 64rem) {
    .lg\:p-8 {
        padding: var(--space-8)
    }
}

@media (min-width: 64rem) {
    .lg\:px-8 {
        padding-inline: var(--space-8)
    }
}

@media (min-width: 64rem) {
    .lg\:py-8 {
        padding-block: var(--space-8)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-9>*+* {
        margin-block-start: var(--space-9)
    }
}

@media (min-width: 64rem) {
    .lg\:p-9 {
        padding: var(--space-9)
    }
}

@media (min-width: 64rem) {
    .lg\:px-9 {
        padding-inline: var(--space-9)
    }
}

@media (min-width: 64rem) {
    .lg\:py-9 {
        padding-block: var(--space-9)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-10>*+* {
        margin-block-start: var(--space-10)
    }
}

@media (min-width: 64rem) {
    .lg\:p-10 {
        padding: var(--space-10)
    }
}

@media (min-width: 64rem) {
    .lg\:px-10 {
        padding-inline: var(--space-10)
    }
}

@media (min-width: 64rem) {
    .lg\:py-10 {
        padding-block: var(--space-10)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-11>*+* {
        margin-block-start: var(--space-11)
    }
}

@media (min-width: 64rem) {
    .lg\:p-11 {
        padding: var(--space-11)
    }
}

@media (min-width: 64rem) {
    .lg\:px-11 {
        padding-inline: var(--space-11)
    }
}

@media (min-width: 64rem) {
    .lg\:py-11 {
        padding-block: var(--space-11)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-12>*+* {
        margin-block-start: var(--space-12)
    }
}

@media (min-width: 64rem) {
    .lg\:p-12 {
        padding: var(--space-12)
    }
}

@media (min-width: 64rem) {
    .lg\:px-12 {
        padding-inline: var(--space-12)
    }
}

@media (min-width: 64rem) {
    .lg\:py-12 {
        padding-block: var(--space-12)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-13>*+* {
        margin-block-start: var(--space-13)
    }
}

@media (min-width: 64rem) {
    .lg\:p-13 {
        padding: var(--space-13)
    }
}

@media (min-width: 64rem) {
    .lg\:px-13 {
        padding-inline: var(--space-13)
    }
}

@media (min-width: 64rem) {
    .lg\:py-13 {
        padding-block: var(--space-13)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-14>*+* {
        margin-block-start: var(--space-14)
    }
}

@media (min-width: 64rem) {
    .lg\:p-14 {
        padding: var(--space-14)
    }
}

@media (min-width: 64rem) {
    .lg\:px-14 {
        padding-inline: var(--space-14)
    }
}

@media (min-width: 64rem) {
    .lg\:py-14 {
        padding-block: var(--space-14)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-15>*+* {
        margin-block-start: var(--space-15)
    }
}

@media (min-width: 64rem) {
    .lg\:p-15 {
        padding: var(--space-15)
    }
}

@media (min-width: 64rem) {
    .lg\:px-15 {
        padding-inline: var(--space-15)
    }
}

@media (min-width: 64rem) {
    .lg\:py-15 {
        padding-block: var(--space-15)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-16>*+* {
        margin-block-start: var(--space-16)
    }
}

@media (min-width: 64rem) {
    .lg\:p-16 {
        padding: var(--space-16)
    }
}

@media (min-width: 64rem) {
    .lg\:px-16 {
        padding-inline: var(--space-16)
    }
}

@media (min-width: 64rem) {
    .lg\:py-16 {
        padding-block: var(--space-16)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-17>*+* {
        margin-block-start: var(--space-17)
    }
}

@media (min-width: 64rem) {
    .lg\:p-17 {
        padding: var(--space-17)
    }
}

@media (min-width: 64rem) {
    .lg\:px-17 {
        padding-inline: var(--space-17)
    }
}

@media (min-width: 64rem) {
    .lg\:py-17 {
        padding-block: var(--space-17)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-18>*+* {
        margin-block-start: var(--space-18)
    }
}

@media (min-width: 64rem) {
    .lg\:p-18 {
        padding: var(--space-18)
    }
}

@media (min-width: 64rem) {
    .lg\:px-18 {
        padding-inline: var(--space-18)
    }
}

@media (min-width: 64rem) {
    .lg\:py-18 {
        padding-block: var(--space-18)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-19>*+* {
        margin-block-start: var(--space-19)
    }
}

@media (min-width: 64rem) {
    .lg\:p-19 {
        padding: var(--space-19)
    }
}

@media (min-width: 64rem) {
    .lg\:px-19 {
        padding-inline: var(--space-19)
    }
}

@media (min-width: 64rem) {
    .lg\:py-19 {
        padding-block: var(--space-19)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-20>*+* {
        margin-block-start: var(--space-20)
    }
}

@media (min-width: 64rem) {
    .lg\:p-20 {
        padding: var(--space-20)
    }
}

@media (min-width: 64rem) {
    .lg\:px-20 {
        padding-inline: var(--space-20)
    }
}

@media (min-width: 64rem) {
    .lg\:py-20 {
        padding-block: var(--space-20)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-21>*+* {
        margin-block-start: var(--space-21)
    }
}

@media (min-width: 64rem) {
    .lg\:p-21 {
        padding: var(--space-21)
    }
}

@media (min-width: 64rem) {
    .lg\:px-21 {
        padding-inline: var(--space-21)
    }
}

@media (min-width: 64rem) {
    .lg\:py-21 {
        padding-block: var(--space-21)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-22>*+* {
        margin-block-start: var(--space-22)
    }
}

@media (min-width: 64rem) {
    .lg\:p-22 {
        padding: var(--space-22)
    }
}

@media (min-width: 64rem) {
    .lg\:px-22 {
        padding-inline: var(--space-22)
    }
}

@media (min-width: 64rem) {
    .lg\:py-22 {
        padding-block: var(--space-22)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-23>*+* {
        margin-block-start: var(--space-23)
    }
}

@media (min-width: 64rem) {
    .lg\:p-23 {
        padding: var(--space-23)
    }
}

@media (min-width: 64rem) {
    .lg\:px-23 {
        padding-inline: var(--space-23)
    }
}

@media (min-width: 64rem) {
    .lg\:py-23 {
        padding-block: var(--space-23)
    }
}

@media (min-width: 64rem) {
    .lg\:space-y-24>*+* {
        margin-block-start: var(--space-24)
    }
}

@media (min-width: 64rem) {
    .lg\:p-24 {
        padding: var(--space-24)
    }
}

@media (min-width: 64rem) {
    .lg\:px-24 {
        padding-inline: var(--space-24)
    }
}

@media (min-width: 64rem) {
    .lg\:py-24 {
        padding-block: var(--space-24)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-0>*+* {
        margin-block-start: 0
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-1>*+* {
        margin-block-start: var(--space-1)
    }
}

@media (min-width: 75rem) {
    .xl\:p-1 {
        padding: var(--space-1)
    }
}

@media (min-width: 75rem) {
    .xl\:px-1 {
        padding-inline: var(--space-1)
    }
}

@media (min-width: 75rem) {
    .xl\:py-1 {
        padding-block: var(--space-1)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-2>*+* {
        margin-block-start: var(--space-2)
    }
}

@media (min-width: 75rem) {
    .xl\:p-2 {
        padding: var(--space-2)
    }
}

@media (min-width: 75rem) {
    .xl\:px-2 {
        padding-inline: var(--space-2)
    }
}

@media (min-width: 75rem) {
    .xl\:py-2 {
        padding-block: var(--space-2)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-3>*+* {
        margin-block-start: var(--space-3)
    }
}

@media (min-width: 75rem) {
    .xl\:p-3 {
        padding: var(--space-3)
    }
}

@media (min-width: 75rem) {
    .xl\:px-3 {
        padding-inline: var(--space-3)
    }
}

@media (min-width: 75rem) {
    .xl\:py-3 {
        padding-block: var(--space-3)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-4>*+* {
        margin-block-start: var(--space-4)
    }
}

@media (min-width: 75rem) {
    .xl\:p-4 {
        padding: var(--space-4)
    }
}

@media (min-width: 75rem) {
    .xl\:px-4 {
        padding-inline: var(--space-4)
    }
}

@media (min-width: 75rem) {
    .xl\:py-4 {
        padding-block: var(--space-4)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-5>*+* {
        margin-block-start: var(--space-5)
    }
}

@media (min-width: 75rem) {
    .xl\:p-5 {
        padding: var(--space-5)
    }
}

@media (min-width: 75rem) {
    .xl\:px-5 {
        padding-inline: var(--space-5)
    }
}

@media (min-width: 75rem) {
    .xl\:py-5 {
        padding-block: var(--space-5)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-6>*+* {
        margin-block-start: var(--space-6)
    }
}

@media (min-width: 75rem) {
    .xl\:p-6 {
        padding: var(--space-6)
    }
}

@media (min-width: 75rem) {
    .xl\:px-6 {
        padding-inline: var(--space-6)
    }
}

@media (min-width: 75rem) {
    .xl\:py-6 {
        padding-block: var(--space-6)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-7>*+* {
        margin-block-start: var(--space-7)
    }
}

@media (min-width: 75rem) {
    .xl\:p-7 {
        padding: var(--space-7)
    }
}

@media (min-width: 75rem) {
    .xl\:px-7 {
        padding-inline: var(--space-7)
    }
}

@media (min-width: 75rem) {
    .xl\:py-7 {
        padding-block: var(--space-7)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-8>*+* {
        margin-block-start: var(--space-8)
    }
}

@media (min-width: 75rem) {
    .xl\:p-8 {
        padding: var(--space-8)
    }
}

@media (min-width: 75rem) {
    .xl\:px-8 {
        padding-inline: var(--space-8)
    }
}

@media (min-width: 75rem) {
    .xl\:py-8 {
        padding-block: var(--space-8)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-9>*+* {
        margin-block-start: var(--space-9)
    }
}

@media (min-width: 75rem) {
    .xl\:p-9 {
        padding: var(--space-9)
    }
}

@media (min-width: 75rem) {
    .xl\:px-9 {
        padding-inline: var(--space-9)
    }
}

@media (min-width: 75rem) {
    .xl\:py-9 {
        padding-block: var(--space-9)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-10>*+* {
        margin-block-start: var(--space-10)
    }
}

@media (min-width: 75rem) {
    .xl\:p-10 {
        padding: var(--space-10)
    }
}

@media (min-width: 75rem) {
    .xl\:px-10 {
        padding-inline: var(--space-10)
    }
}

@media (min-width: 75rem) {
    .xl\:py-10 {
        padding-block: var(--space-10)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-11>*+* {
        margin-block-start: var(--space-11)
    }
}

@media (min-width: 75rem) {
    .xl\:p-11 {
        padding: var(--space-11)
    }
}

@media (min-width: 75rem) {
    .xl\:px-11 {
        padding-inline: var(--space-11)
    }
}

@media (min-width: 75rem) {
    .xl\:py-11 {
        padding-block: var(--space-11)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-12>*+* {
        margin-block-start: var(--space-12)
    }
}

@media (min-width: 75rem) {
    .xl\:p-12 {
        padding: var(--space-12)
    }
}

@media (min-width: 75rem) {
    .xl\:px-12 {
        padding-inline: var(--space-12)
    }
}

@media (min-width: 75rem) {
    .xl\:py-12 {
        padding-block: var(--space-12)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-13>*+* {
        margin-block-start: var(--space-13)
    }
}

@media (min-width: 75rem) {
    .xl\:p-13 {
        padding: var(--space-13)
    }
}

@media (min-width: 75rem) {
    .xl\:px-13 {
        padding-inline: var(--space-13)
    }
}

@media (min-width: 75rem) {
    .xl\:py-13 {
        padding-block: var(--space-13)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-14>*+* {
        margin-block-start: var(--space-14)
    }
}

@media (min-width: 75rem) {
    .xl\:p-14 {
        padding: var(--space-14)
    }
}

@media (min-width: 75rem) {
    .xl\:px-14 {
        padding-inline: var(--space-14)
    }
}

@media (min-width: 75rem) {
    .xl\:py-14 {
        padding-block: var(--space-14)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-15>*+* {
        margin-block-start: var(--space-15)
    }
}

@media (min-width: 75rem) {
    .xl\:p-15 {
        padding: var(--space-15)
    }
}

@media (min-width: 75rem) {
    .xl\:px-15 {
        padding-inline: var(--space-15)
    }
}

@media (min-width: 75rem) {
    .xl\:py-15 {
        padding-block: var(--space-15)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-16>*+* {
        margin-block-start: var(--space-16)
    }
}

@media (min-width: 75rem) {
    .xl\:p-16 {
        padding: var(--space-16)
    }
}

@media (min-width: 75rem) {
    .xl\:px-16 {
        padding-inline: var(--space-16)
    }
}

@media (min-width: 75rem) {
    .xl\:py-16 {
        padding-block: var(--space-16)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-17>*+* {
        margin-block-start: var(--space-17)
    }
}

@media (min-width: 75rem) {
    .xl\:p-17 {
        padding: var(--space-17)
    }
}

@media (min-width: 75rem) {
    .xl\:px-17 {
        padding-inline: var(--space-17)
    }
}

@media (min-width: 75rem) {
    .xl\:py-17 {
        padding-block: var(--space-17)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-18>*+* {
        margin-block-start: var(--space-18)
    }
}

@media (min-width: 75rem) {
    .xl\:p-18 {
        padding: var(--space-18)
    }
}

@media (min-width: 75rem) {
    .xl\:px-18 {
        padding-inline: var(--space-18)
    }
}

@media (min-width: 75rem) {
    .xl\:py-18 {
        padding-block: var(--space-18)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-19>*+* {
        margin-block-start: var(--space-19)
    }
}

@media (min-width: 75rem) {
    .xl\:p-19 {
        padding: var(--space-19)
    }
}

@media (min-width: 75rem) {
    .xl\:px-19 {
        padding-inline: var(--space-19)
    }
}

@media (min-width: 75rem) {
    .xl\:py-19 {
        padding-block: var(--space-19)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-20>*+* {
        margin-block-start: var(--space-20)
    }
}

@media (min-width: 75rem) {
    .xl\:p-20 {
        padding: var(--space-20)
    }
}

@media (min-width: 75rem) {
    .xl\:px-20 {
        padding-inline: var(--space-20)
    }
}

@media (min-width: 75rem) {
    .xl\:py-20 {
        padding-block: var(--space-20)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-21>*+* {
        margin-block-start: var(--space-21)
    }
}

@media (min-width: 75rem) {
    .xl\:p-21 {
        padding: var(--space-21)
    }
}

@media (min-width: 75rem) {
    .xl\:px-21 {
        padding-inline: var(--space-21)
    }
}

@media (min-width: 75rem) {
    .xl\:py-21 {
        padding-block: var(--space-21)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-22>*+* {
        margin-block-start: var(--space-22)
    }
}

@media (min-width: 75rem) {
    .xl\:p-22 {
        padding: var(--space-22)
    }
}

@media (min-width: 75rem) {
    .xl\:px-22 {
        padding-inline: var(--space-22)
    }
}

@media (min-width: 75rem) {
    .xl\:py-22 {
        padding-block: var(--space-22)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-23>*+* {
        margin-block-start: var(--space-23)
    }
}

@media (min-width: 75rem) {
    .xl\:p-23 {
        padding: var(--space-23)
    }
}

@media (min-width: 75rem) {
    .xl\:px-23 {
        padding-inline: var(--space-23)
    }
}

@media (min-width: 75rem) {
    .xl\:py-23 {
        padding-block: var(--space-23)
    }
}

@media (min-width: 75rem) {
    .xl\:space-y-24>*+* {
        margin-block-start: var(--space-24)
    }
}

@media (min-width: 75rem) {
    .xl\:p-24 {
        padding: var(--space-24)
    }
}

@media (min-width: 75rem) {
    .xl\:px-24 {
        padding-inline: var(--space-24)
    }
}

@media (min-width: 75rem) {
    .xl\:py-24 {
        padding-block: var(--space-24)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-0>*+* {
        margin-block-start: 0
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-1>*+* {
        margin-block-start: var(--space-1)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-1 {
        padding: var(--space-1)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-1 {
        padding-inline: var(--space-1)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-1 {
        padding-block: var(--space-1)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-2>*+* {
        margin-block-start: var(--space-2)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-2 {
        padding: var(--space-2)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-2 {
        padding-inline: var(--space-2)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-2 {
        padding-block: var(--space-2)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-3>*+* {
        margin-block-start: var(--space-3)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-3 {
        padding: var(--space-3)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-3 {
        padding-inline: var(--space-3)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-3 {
        padding-block: var(--space-3)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-4>*+* {
        margin-block-start: var(--space-4)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-4 {
        padding: var(--space-4)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-4 {
        padding-inline: var(--space-4)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-4 {
        padding-block: var(--space-4)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-5>*+* {
        margin-block-start: var(--space-5)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-5 {
        padding: var(--space-5)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-5 {
        padding-inline: var(--space-5)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-5 {
        padding-block: var(--space-5)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-6>*+* {
        margin-block-start: var(--space-6)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-6 {
        padding: var(--space-6)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-6 {
        padding-inline: var(--space-6)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-6 {
        padding-block: var(--space-6)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-7>*+* {
        margin-block-start: var(--space-7)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-7 {
        padding: var(--space-7)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-7 {
        padding-inline: var(--space-7)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-7 {
        padding-block: var(--space-7)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-8>*+* {
        margin-block-start: var(--space-8)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-8 {
        padding: var(--space-8)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-8 {
        padding-inline: var(--space-8)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-8 {
        padding-block: var(--space-8)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-9>*+* {
        margin-block-start: var(--space-9)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-9 {
        padding: var(--space-9)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-9 {
        padding-inline: var(--space-9)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-9 {
        padding-block: var(--space-9)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-10>*+* {
        margin-block-start: var(--space-10)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-10 {
        padding: var(--space-10)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-10 {
        padding-inline: var(--space-10)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-10 {
        padding-block: var(--space-10)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-11>*+* {
        margin-block-start: var(--space-11)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-11 {
        padding: var(--space-11)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-11 {
        padding-inline: var(--space-11)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-11 {
        padding-block: var(--space-11)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-12>*+* {
        margin-block-start: var(--space-12)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-12 {
        padding: var(--space-12)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-12 {
        padding-inline: var(--space-12)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-12 {
        padding-block: var(--space-12)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-13>*+* {
        margin-block-start: var(--space-13)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-13 {
        padding: var(--space-13)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-13 {
        padding-inline: var(--space-13)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-13 {
        padding-block: var(--space-13)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-14>*+* {
        margin-block-start: var(--space-14)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-14 {
        padding: var(--space-14)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-14 {
        padding-inline: var(--space-14)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-14 {
        padding-block: var(--space-14)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-15>*+* {
        margin-block-start: var(--space-15)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-15 {
        padding: var(--space-15)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-15 {
        padding-inline: var(--space-15)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-15 {
        padding-block: var(--space-15)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-16>*+* {
        margin-block-start: var(--space-16)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-16 {
        padding: var(--space-16)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-16 {
        padding-inline: var(--space-16)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-16 {
        padding-block: var(--space-16)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-17>*+* {
        margin-block-start: var(--space-17)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-17 {
        padding: var(--space-17)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-17 {
        padding-inline: var(--space-17)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-17 {
        padding-block: var(--space-17)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-18>*+* {
        margin-block-start: var(--space-18)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-18 {
        padding: var(--space-18)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-18 {
        padding-inline: var(--space-18)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-18 {
        padding-block: var(--space-18)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-19>*+* {
        margin-block-start: var(--space-19)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-19 {
        padding: var(--space-19)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-19 {
        padding-inline: var(--space-19)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-19 {
        padding-block: var(--space-19)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-20>*+* {
        margin-block-start: var(--space-20)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-20 {
        padding: var(--space-20)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-20 {
        padding-inline: var(--space-20)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-20 {
        padding-block: var(--space-20)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-21>*+* {
        margin-block-start: var(--space-21)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-21 {
        padding: var(--space-21)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-21 {
        padding-inline: var(--space-21)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-21 {
        padding-block: var(--space-21)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-22>*+* {
        margin-block-start: var(--space-22)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-22 {
        padding: var(--space-22)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-22 {
        padding-inline: var(--space-22)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-22 {
        padding-block: var(--space-22)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-23>*+* {
        margin-block-start: var(--space-23)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-23 {
        padding: var(--space-23)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-23 {
        padding-inline: var(--space-23)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-23 {
        padding-block: var(--space-23)
    }
}

@media (min-width: 90rem) {
    .xxl\:space-y-24>*+* {
        margin-block-start: var(--space-24)
    }
}

@media (min-width: 90rem) {
    .xxl\:p-24 {
        padding: var(--space-24)
    }
}

@media (min-width: 90rem) {
    .xxl\:px-24 {
        padding-inline: var(--space-24)
    }
}

@media (min-width: 90rem) {
    .xxl\:py-24 {
        padding-block: var(--space-24)
    }
}
